html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
}

.carga {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #4CAF50;
    border-bottom: 16px solid #4CAF50;
    width: 120px;
    height: 120px;
    margin-left: 47%;
    margin-top: 20%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    Display: none
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.contenedor {
    height: calc(100% - 54px);
    width: 100%;
}

.row {
    width: 100%;
    height: 100%;
    margin: 0;
}

.div-amigo {
    padding-bottom: 10px;
    border-bottom: solid 1px #adb5bd;
    border-radius: 16px;
    background: #cfdaf9ad;
}

.postFecha {
    text-align: end;
}

.comFecha {
    text-align: end;
}

.comentario {
    padding-left: 75px;
}

.post {
    border-top: solid 1px #adb5bd;
    border-bottom: solid 1px #adb5bd;
}

#info {
    padding-bottom: 10px;
    border: 1px solid #ccc !important;
    background: antiquewhite;
    border-radius: 16px;
}

#user-info {
    background: #f9f5f5;
    text-align: center;
    padding: 0;
    height: 100%;
}

#user-post {
    height: 100%;
}
.contBtComentar {
    text-align: center;
}

.btComentar {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 50%;
    border: 0;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 14px;
}
    .btComentar:hover, .btComentar:active, .btComentar:focus {
        background: #43A047;
    }

    .btComentar:disabled {
    background: #8ca98d;
    }
#btAmistad {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 50%;
    border: 0;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 14px;
}

    #btAmistad:hover, #btAmistad:active, #btAmistad:focus {
        background: #43A047;
    }

    #btAmistad:disabled {
        background: #8ca98d;
    }

#amigos {
    padding: 10px;
    border: 1px solid #ccc !important;
    background: aliceblue;
    border-radius: 16px;
    overflow-y: auto;
}

    #amigos a {
        color: #008CBA;
        font-weight: 500;
    }

#posts {
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc !important;
    border-radius: 16px;
}


@media screen and (max-width: 768px) {
    html {
        overflow: auto;
        width: 100%;
    }

    #user-post {
        padding-left: 1px;
        padding-right: 1px;
    }

    .carga {
        margin-left: 43%;
        margin-top: 15%;
        Display: none
    }
}
